html(lang="ja")
  head
    include inc/_meta
    title top-page
    link(rel="shortcut icon", href="./img/favicon.ico")
    link(rel='stylesheet', href="./css/style.css")
    //script(src="./js/main.js" defer)
  body
    div.lgtm
      p top-page
      img(src="./img/lgtm.jpg")
    script(src="./js/main.js")
